# Node
node_modules/
dist/

# Python
__pycache__/
.venv/

# Secrets
.env
ai-feedback-tool-fynd-firebase-adminsdk-fbsvc-82c9918ffe.json

# Temp / debug
combined_code.txt
ineedthisforLLM/

# OS
.DS_Store
